<div class="details-page">

  <h2> Workshop Details </h2>

<div class="details-box">
<div class="details-content">
<h3> <%= workshopDetails.name %> </h3>
<p> <%= workshopDetails.location %> </p>
<hr>

<p> <i> <%- prettyDate(workshopDetails.date) %></i> </p>
<hr>
<p> <%= workshopDetails.description %> </p>
</div>
</div>

<div class="edit-workshop-link">
<a class="workshop-edit-delete-link" href="/workshops/<%=workshopDetails._id%>/edit"> Edit Workshop </a>

<a class="workshop-edit-delete-link" href="/workshops/<%=workshopDetails._id%>/delete"> Delete Workshop </a>
</div>
</div>
