<div class="textured">
<div class="edit-box">
<h2> Edit Event </h2>

<div class="login-page">
  <br>
<form method="post" action="/events/<%=eventDetails._id %>/update" enctype="multipart/form-data">
  <!-- <label for="event-category-input">  Category </label><br>
  <input id="event-category-input" type="text" name="eventCategory" value="<%= eventDetails.category %>">
  <br>
  <br> -->

  <label for="event-name-input"> Name of Event </label><br>
  <input id="event-name-input" type="text" step="0.10" name="eventName" value="<%= eventDetails.name %>">
  <br>
  <br>

  <label for="event-location-input"> Location </label><br>
  <input id="event-location-input" type="text" name="eventLocation" value="<%= eventDetails.location %>">
  <br>
  <br>

  <label for="event-date-input"> Date of Event </label><br>
  <input id="event-date-input" name="eventDate" type="date" value="<%= eventDetails.date %>">
  <br>
  <br>

  <label for="event-image-input"> Image Url </label><br>
  <input id="event-image-input" name="eventUrl" type="file" value="<%= eventDetails.imageUrl %>">
  <br>
  <br>

  <label for="event-description-input"> Description </label><br>
  <textarea id="event-description-input" name="eventDescription" value="<%= eventDetails.description %>"></textarea>
  <br>
  <br>

  <button class="savebutton"> Save Your Changes </button>
</form>
</div>
</div>
</div>
