<div class="event-details-page">

  <h2> Event Details </h2>

<div class="details-box">
<div class="details-content">
<h3> <%= eventDetails.name %> </h3>
<hr>

<p> <i> <%= prettyDate(eventDetails.date) %></i> </p>
<hr>
<p> <%- pTagify(eventDetails.description) %> </p>
</div>
</div>

<a class="edit-delete-link" href="/events/<%=eventDetails._id%>/edit"> Edit Event </a>
<br>

<!--  POST version -->
<!-- <form method="post" action="/events/<%=eventDetails._id%>/delete">
  <button> Delete Event </button>
</form> -->

<a class="edit-delete-link" href="/events/<%=eventDetails._id%>/delete"> Delete Event </a>
<br>

</div>
